PORT=3000
NODE_ENV=development
DB_USER=postgres
DB_HOST=localhost
DB_NAME=resourceflow
DB_PASSWORD=Jash@2901
DB_PORT=5432
JWT_SECRET=super_secret_resourceflow_key
JWT_EXPIRY=24h
FRONTEND_URL=http://localhost:5173

# OpenRouter + Google Gemini
OPENROUTER_API_KEY=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
AI_MODEL=google/gemini-flash-1.5
EMBEDDING_MODEL=text-embedding-3-small
GEMINI_API_KEY=AIzaSyDOHdhpABsKWWjJvu50miZtUWaaG4u6SdY
